/*  SIMPLEPAGE.CSS  */

/* -- section title -- */
article section.title div.title {
	font-size: 1.7rem;
	font-weight: bold;
	color: #333;
	padding: 1.5rem 0 0.5rem 0;
}

/* -- section content -- */
article section.content {
	color: #333;
	padding: 0 0 1.5rem 0;
}

article section.content h1 {
	font-size: 1.5rem;
	padding: 1.5rem 0 0.5rem 0;
}


article section.content p { 
	font-size: 1.1rem;
	line-height: 150%;
	color: #333;
	padding: 0.5rem 0 0.5rem 0;
}


article section.content * a {
	color: #4682b4;
	text-decoration: none;
}


article section.content * em {
	color: #708090;
}
